
#mark{
    color: rgb(245, 233, 233);
    font: 1em Cursive;
}
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
h1{
    color: darkblue;
}
#bg {
    /* The image used */
   
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    color: black;
    background-size: 100% ;  
    background-size: cover; 
    margin-left: 0;
    padding: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    
  }
