
    <div  class="bg">
        


                        <!--/stories-->
                        
                        
                            <br><br><br><br>
                            <h3 class="ab"> &nbsp; &nbsp;LibraryApp</h3>
                            <h3 class="ab"> &nbsp; &nbsp;&nbsp;&nbsp;The Best place to read your Books</h3>
                            
                            &nbsp;
                            &nbsp;<br><br>
                            <a (click)="loginAlert()" class="btn btn-primary pull-right btnNext"> &nbsp; &nbsp;
                                <b>Explore</b>
                                <b> Now!</b> &nbsp; &nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>
                        

                        <!--/stories-->
                    
    </div>